{% extends 'contracts/base.html' %}

{% block title %}
<title> {{ franchise.team_name }} Roster </title>
{% endblock %}

{% block content %}
    <div>
        <h1>{{ franchise.team_name}} </h1>
        <p>{{franchise.owner_name}} {{franchise.owner_email}}</p>
        
        {% for message in roster_check %}
        	<li> {{message}} </li>
        {% endfor %}
        
    </div>
        <button type= "submit"> Refresh Roster </button>
    <div>
    	<h2> Pending Contracts </h2>  		
    </div>
    	{% for player in pending_players %}
    	
    	{% if roster_check %}
    		<li> {{ player.player.name }}  {{player.player.get_position_display}} </li>
    	
    	{% else %}
    		<li> <a href= "{{ player.get_update_url }}"> {{ player.player.name }} </a> {{ player.player.get_position_display }} - </li>
    	
    	{% endif %}
    	{% endfor %}
    
    
    <div>
    	<h2> Active Contracts </h2>
    	
    	{% for player in active_players %}
    	
    	<li> <a href= " {% url 'player_contract_detail' player.player.player_id %}"> {{ player.player.name }}</a> {{ player.player.get_position_display }} - {{ player.years_remaining}}</li>
    	 
    	{% endfor %}
    		
    </div>
    
    <div>
    	<h2> Injured Reserve </h2>
    	
    	{% for player in ir %}
    	
    	<li> <a href= " {%url 'player_contract_detail' player.player.player_id %}"> {{player.player.name}}</a> {{ player.player.get_position_display }} - {{ player.years_remaining }}</li>
    	
    	{% endfor %}

{% endblock %}